@import "./bootstrap-5.0.2/css/bootstrap.css";
@import "./bootstrap-icons-1.9.1/bootstrap-icons.css";


.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}

ul {
    list-style-type:  none;
}

input:disabled {
    background-color: rgba(105, 105, 105, 0);
    opacity: 1;
    border-color: rgba(255, 255, 255, 0);
  }
  